body {
    opacity: 0;
    transition: opacity 0.4s ease;
  margin: 0;
  font-family: sans-serif;
}

body.loaded{
    opacity: 1;
}

nav {
  padding: 15px;
  background: #26282b;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.page-title {
  text-align: center;
  margin: 20px 0;
}

.gallery {
  column-count: 3;      
  column-gap: 15px;
  padding: 15px;
}

.gallery img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.03);
}


@media (max-width: 768px) {
  .gallery {
    column-count: 2;
  }

}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,0.9);
  display: none;

  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.lightbox img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
}

