* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  opacity: 0;
  transition: opacity 0.4s ease;
  line-height: 1.6;
  color: #222;
}

body.loaded {
  opacity: 1;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #26282b;
  color: rgb(255, 255, 255);
}

header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  min-height: 70vh;
  margin: 0;
  padding: 0;
  height: 80vh;
  background-image: url(images/green\ roadway.png) ;
  background-repeat: no-repeat;
  border:2px #222;
  background-size: 105%;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  color: rgb(25, 25, 25);
  border: 2px;
  position:absolute;
  top: 100px;
  font-size: 3rem;
}

.hero h1 {
text-shadow: 2px 2px rgb(255, 247, 0);
}

.hero p {
  margin: 10px 0 20px;
}

.btn {
  padding: 10px 20px;
  background: #26282b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 60px 40px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

.gray {
  background: #f4f4f4;
}

/* EVENTS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card span {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

/* GALLERY */

/* FOOTER */
footer {
  background: #26282b;
  color: white;
  text-align: center;
  padding: 15px;
}

/* MOBILE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  header nav {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }
}


